
<form action="{{ path('lesson_new') }}" method="POST">
    <label>Nom:</label>
    <input name="name">
    <div class="form-group">

        <label>Dates du cours:</label>
        <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">
            <i class="far fa-calendar-alt"></i>
            </span>
        </div>
        <input type="text" class="form-control float-right" id="reservation" name="dateLesson">
        </div>
    </div>
    <button class="btn btn-success" type="Submit" name="Save">Save</button>
</form>


{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }} #}
