{% extends 'index/index.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Modifier un cours</h1>
    </div>
    <div class="card-body">
        <form action="{{ path('lesson_edit', {'id': lesson.id}) }}" method="POST">
            <div class="form-group">
                <label>Nom:</label>
                <input name="name" value="{{ lesson.name }}">
            </div>
            <div class="form-group">
                <label>Formateur</label>
                <select class="form-control" name="formateur">
                    <option value={{ lesson.user.id }}> {{ lesson.user.lastname }} - {{ lesson.user.firstname }}
                {% for formateur in formateurs %}
                    {% if lesson.user is null or formateur.id != lesson.user.id %}
                    <option value={{formateur.id}}>{{ formateur.lastname }} - {{ formateur.firstname }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Classe</label>
                <select class="form-control" name="classroom">
                    <option value={{ lesson.classroom }}> {{ lesson.classroom }}
                {% for classroom in classrooms %}
                    {% if lesson.classroom is null or classroom.id != lesson.classroom.id %}
                        <option value={{classroom.id}}>{{ classroom }}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Dates du cours:</label>
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control float-right" id="reservation" name="dateLesson" value="{{lesson.startDate|date('m-d-Y')}} - {{lesson.endDate|date('m-d-Y')}}">
                </div>
            </div>
            <button class="btn btn-success" type="Submit" name="Save">Enregistrer</button>
        </form>
    </div>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('lesson_index') }}">Retour à la liste</a>
        {{ include('lesson/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
