{% extends 'index/index.html.twig' %}

{% block title %}Liste cours{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Liste des cours</h1>
        <a class="btn btn-success" href="{{ path('lesson_new') }}">Nouveau cours</a>
    </div>
    <div class="card-body">
        <table class="table" id="indexTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Formateur</th>
                    <th>Classe</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.id }}</td>
                    <td>{{ lesson.name }}</td>
                    <td>{{ lesson.user.firstname }} {{ lesson.user.lastname }}</td>
                    <td>{{ lesson.classroom }}</td>
                    <td>{{ lesson.startDate ? lesson.startDate|date('d-m-Y') : '' }}</td>
                    <td>{{ lesson.endDate ? lesson.endDate|date('d-m-Y') : '' }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('lesson_show', {'id': lesson.id}) }}">Voir</a>
                        <a class="btn btn-warning" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Pas de cours trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary" href="{{ path('index') }}">Accueil</a>
    </div>
</div>
{% endblock %}
