{% extends 'index/index.html.twig' %}

{% block title %}New Lesson{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Créer un nouveau cours</h1>
    </div>
    <div class="card-body">
        <form action="{{ path('lesson_new') }}" method="POST">
            <div class="form-group">
                <label>Nom:</label>
                <input name="name">
            </div>
            <div class="form-group">
                <label>Formateur</label>
                <select class="form-control" name="formateur">
                {% for formateur in formateurs %}
                    <option value={{formateur.id}}>{{ formateur.lastname }} - {{ formateur.firstname }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Classe</label>
                <select class="form-control" name="classroom">
                {% for classroom in classrooms %}
                        <option value={{classroom.id}}>{{ classroom }}</option>
                {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>Dates du cours:</label>
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                    <i class="far fa-calendar-alt"></i>
                    </span>
                </div>
                <input type="text" class="form-control float-right" id="reservation" name="dateLesson">
                </div>
            </div>
            <button class="btn btn-success" type="Submit" name="Save">Enregistrer</button>
        </form>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('lesson_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
