{% extends 'index/index.html.twig' %}

{% block title %}Lesson{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Lesson</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ lesson.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ lesson.name }}</td>
                </tr>
                <tr>
                    <th>StartDate</th>
                    <td>{{ lesson.startDate ? lesson.startDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>EndDate</th>
                    <td>{{ lesson.endDate ? lesson.endDate|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">

        <a class="btn btn-secondary float-right" href="{{ path('lesson_index') }}">Retour à la liste</a>

        <a class="btn btn-success" href="{{ path('lesson_edit', {'id': lesson.id}) }}">Enregistrer</a>

        {{ include('lesson/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
