{% extends 'index/index.html.twig' %}

{% block title %}Modification Classe{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Modification de la classe</h1>
    </div>
    <div class="card-body">
        {{ include('classroom/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('classroom_index') }}">Retour à la liste</a>
        {{ include('classroom/_delete_form.html.twig') }}
    </div>

{% endblock %}
