{% extends 'index/index.html.twig' %}

{% block title %}Liste classes{% endblock %}


{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Liste des classes</h1>
        <a class="btn btn-success" href="{{ path('classroom_new') }}">Créer une nouvelle classe</a>
    </div>
    <div class="card-body">
        <table class="table" id="indexTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Promotion</th>
                    <th>Début matin</th>
                    <th>Fin matin</th>
                    <th>Début après-midi</th>
                    <th>Fin après-midi</th>
                    <th>Ecole</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for classroom in classrooms %}
                <tr>
                    <td>{{ classroom.id }}</td>
                    <td>{{ classroom.name }}</td>
                    <td>{{ classroom.promotion }}</td>
                    <td>{{ classroom.amStart ? classroom.amStart|date('H\\hi') : '' }}</td>
                    <td>{{ classroom.amEnd ? classroom.amEnd|date('H\\hi') : '' }}</td>
                    <td>{{ classroom.pmStart ? classroom.pmStart|date('H\\hi') : '' }}</td>
                    <td>{{ classroom.pmEnd ? classroom.pmEnd|date('H\\hi') : '' }}</td>
                    <td>{{ classroom.school }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('classroom_show', {'id': classroom.id}) }}">Voir</a>
                        <a class="btn btn-warning" href="{{ path('classroom_edit', {'id': classroom.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary" href="{{ path('index') }}">Accueil</a>
    </div>
</div>
{% endblock %}

