{% extends 'index/index.html.twig' %}

{% block title %}Nouvelle classe{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Créer une nouvelle classe</h1>
    </div>
    <div class="card-body">
        {{ include('classroom/_form.html.twig') }}
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('classroom_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
