{% extends 'index/index.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>
            Classe
        </h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ classroom.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ classroom.name }}</td>
                </tr>
                <tr>
                    <th>Promotion</th>
                    <td>{{ classroom.promotion }}</td>
                </tr>
                <tr>
                    <th>Début matin</th>
                    <td>{{ classroom.amStart ? classroom.amStart|date('H\\hi') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin matin</th>
                    <td>{{ classroom.amEnd ? classroom.amEnd|date('H\\hi') : '' }}</td>
                </tr>
                <tr>
                    <th>Début après-midi</th>
                    <td>{{ classroom.pmStart ? classroom.pmStart|date('H\\hi') : '' }}</td>
                </tr>
                <tr>
                    <th>Fin après-midi</th>
                    <td>{{ classroom.pmEnd ? classroom.pmEnd|date('H\\hi') : '' }}</td>
                </tr>
                <tr>
                    <th>Ecole</th>
                    <td>{{ classroom.school }}</td>
                </tr>
            </tbody>
        </table>
        <p>
            <h3>Elèves de la classe :</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in classroom.users %}
                    <tr>
                        <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.lastname }}</a></td>
                        <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.firstname }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </p>
    </div>
    <div class="card-footer">

        <a class="btn btn-secondary float-right" href="{{ path('classroom_index') }}">Retour à la liste</a>

        <a class="btn btn-warning" href="{{ path('classroom_edit', {'id': classroom.id}) }}">Modifier</a>

        {{ include('classroom/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
