{% extends 'index/index.html.twig' %}

{% block title %}Emargement{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <form action="{{ path('signing_index') }}">
            <div class="form-group">
                <label>Classe :</label>
                <select class="form-control" name="classroom">
                {% for classroom in schools.classrooms %}
                    <option value={{classroom.id}}>{{ classroom.name }}</option>
                {% endfor %}
                </select>
            </div>
            <button class="btn btn-primary" type="Submit">Rechercher</button>
        </form>
    </div>
    <div class="card-body">
    {% if students %}
        <table class="table table-hover">
            <thead class="light">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Signature Matin</th>
                    <th>Signature Après-midi</th>
                </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>{{ student.firstname }}</td>
                    <td>{{ student.lastname }}</td>
                    {% if time > 8 and time < 12 %}
                        <td>Inserer la signature</td>
                    {% else %}
                        <td>C'est pas l'heure</td>
                    {% endif %}
                    {% if time > 13 and time < 17 %}
                        <td>Inserer la signature</td>
                    {% else %}
                        <td>C'est pas l'heure</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>Recherchez par classe</div>
    {% endif %}
    </div>
</div>
{% endblock %}
