{% extends 'index/index.html.twig' %}

{% block title %}School{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Modifier l'école</h1>
    </div>
    <div class="card-body">
        {{ include('school/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('school_index') }}">Retour à la liste</a>

        {{ include('school/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
