{% extends 'index/index.html.twig' %}

{% block title %}Ecoles{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Liste des écoles</h1>
        <a class="btn btn-success" href="{{ path('school_new') }}">Ajouter une école</a>
    </div>
    <div class="card-body">
        <table class="table"  id="indexTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for school in schools %}
                <tr>
                    <td>{{ school.id }}</td>
                    <td>{{ school.name }}</td>
                    <td>{{ school.adress }}</td>
                    <td>{{ school.postal }}</td>
                    <td>{{ school.mail }}</td>
                    <td>{{ school.phone }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('school_show', {'id': school.id}) }}">Voir</a>
                        <a class="btn btn-warning" href="{{ path('school_edit', {'id': school.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">Pas d'école enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>   
{% endblock %}
