{% extends 'index/index.html.twig' %}

{% block title %}Ecole{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Ajouter une école</h1>
    </div>
    <div class="card-body">
        {{ include('school/_form.html.twig') }}
    <div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('school_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
