{% extends 'index/index.html.twig' %}

{% block title %}School{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>School</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ school.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ school.name }}</td>
                </tr>
                <tr>
                    <th>Adress</th>
                    <td>{{ school.adress }}</td>
                </tr>
                <tr>
                    <th>Postal</th>
                    <td>{{ school.postal }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ school.mail }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ school.phone }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('school_index') }}">Retour à la liste</a>

        <a class="btn btn-warning" href="{{ path('school_edit', {'id': school.id}) }}">Modifier</a>

        {{ include('school/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
