{% extends 'index/index.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Liste des utilisateurs</h1>
        <a class="btn btn-success" href="{{ path('user_new') }}">Ajouter un utilisateur</a>
    </div>
    <div class="card-body">
        <table class="table" id="indexTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Mail</th>
                    <th>Status</th>
                    <th>Classe</th>
                    <th>Ecole</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.status }}</td>
                    <td>{{ user.classroom }}</td>
                    <td>{{ user.school }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('user_show', {'id': user.id}) }}">Voir</a>
                        <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
