{% extends 'index/index.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Créer un utilisateur</h1>
    </div>
    <div class="card-body">
        {{ include('user/_form.html.twig') }}
    <div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('user_index') }}">Retour à la liste</a>
    </div>
</div>
{% endblock %}
