{% extends 'index/index.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h1>Utilisateur</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ user.mail }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ user.status }}</td>
                </tr>
                <tr>
                    <th>Classe</th>
                    <td>{{ user.classroom }}</td>
                </tr>
                <tr>
                    <th>Ecole</th>
                    <td>{{ user.school }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a class="btn btn-secondary float-right" href="{{ path('user_index') }}">Retour à la liste</a>

        <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

        {{ include('user/_delete_form.html.twig') }}
    </div>
</div>
{% endblock %}
